<!DOCTYPE html>
<html>
<head>
  <title>CoderTicket</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <a class="navbar-brand" href="<%= root_path %>">Coder Ticket</a>
    <ul class="nav navbar-nav pull-right">
      <%= render 'layouts/navbar' %>
    </ul>
  </nav>

  <%= flash_messages %>
  <%= yield %>

</body>
</html>
